# More Basics of Pandas

Last session we introduced Pandas quickly. Now we review the basics of using Pandas, with a more interactive workflow to solidify understanding and facility with this powerful Python toolkit.

## Reviewing Pandas Basics

In [1]:
from pandas import DataFrame
import pandas as pd

In [59]:
import pandas as pd
df = pd.read_csv('DEC_10_SF1_P1_with_ann.csv')

### Basics of indexing in Pandas

The first use of indexing is to use a slice, just like we have done with other Python objects. Below we slice the first 5 index values of the first dimension of the dataframe.

In [3]:
df[:5]

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261

The first indexing method is equivalent to usinf the iloc indexing method, which uses the integer based indexing, purely based on the location of the index.

In [4]:
df.iloc[:5]

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261

In [36]:
s=df.loc[:5,'Geography']
type(s)

pandas.core.series.Series

In [48]:
len(df)

1115

In [49]:
df[df['Id2']==21001970402]

,Id,Id2,Geography,Population
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261

In [62]:
df_short=df[df['population']<200]
df_short

KeyError: 'population'

In [14]:
df=df.drop(0)
df

,Id,Id2,Geography,Population
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722.0
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016.0
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070.0
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261.0
5,1400000US21001970500,21001970500,"Census Tract 9705, Adair County, Kentucky",2457.0
6,1400000US21001970600,21001970600,"Census Tract 9706, Adair County, Kentucky",1403.0
7,1400000US21003920100,21003920100,"Census Tract 9201, Allen County, Kentucky",3185.0
8,1400000US21003920200,21003920200,"Census Tract 9202, Allen County, Kentucky",2703.0
9,1400000US21003920300,21003920300,"Census Tract 9203, Allen County, Kentucky",4685.0
10,1400000US21003920400,21003920400,"Census Tract 9204, Allen County, Kentucky",4492.0
11,1400000US21003920500,21003920500,"Census Tract 9205, Allen County, Kentucky",1600.0
12,1400000US21003920600,21003920600,"Census Tract 9206, Allen County, Kentucky",3291.0
13,1400000US21005950100,21005950100,"Census Tract 9501, Anderson County, Kentucky",8164.0
14,1400000US21005950201,21005950201,"Census Tract 9502.01, Anderson County, Kentucky",5372.0
15,1400000US21005950202,21005950202,"Census Tract 9502.02, Anderson County, Kentucky",3651.0
16,1400000US21005950300,21005950300,"Census Tract 9503, Anderson County, Kentucky",1969.0
17,1400000US21005950400,21005950400,"Census Tract 9504, Anderson County, Kentucky",2265.0
18,1400000US21007950100,21007950100,"Census Tract 9501, Ballard County, Kentucky",4259.0
19,1400000US21007950200,21007950200,"Census Tract 9502, Ballard County, Kentucky",1494.0
20,1400000US21007950300,21007950300,"Census Tract 9503, Ballard County, Kentucky",2496.0
21,1400000US21009950100,21009950100,"Census Tract 9501, Barren County, Kentucky",3592.0
22,1400000US21009950200,21009950200,"Census Tract 9502, Barren County, Kentucky",3642.0
23,1400000US21009950300,21009950300,"Census Tract 9503, Barren County, Kentucky",3065.0
24,1400000US21009950400,21009950400,"Census Tract 9504, Barren County, Kentucky",5910.0
25,1400000US21009950500,21009950500,"Census Tract 9505, Barren County, Kentucky",3698.0
26,1400000US21009950600,21009950600,"Census Tract 9506, Barren County, Kentucky",5937.0
27,1400000US21009950700,21009950700,"Census Tract 9507, Barren County, Kentucky",5878.0
28,1400000US21009950800,21009950800,"Census Tract 9508, Barren County, Kentucky",3337.0
29,1400000US21009950900,21009950900,"Census Tract 9509, Barren County, Kentucky",3607.0
30,1400000US21009951000,21009951000,"Census Tract 9510, Barren County, Kentucky",3507.0
...,...,...,...,...
1085,1400000US21229930100,21229930100,"Census Tract 9301, Washington County, Kentucky",2767.0
1086,1400000US21229930200,21229930200,"Census Tract 9302, Washington County, Kentucky",6705.0
1087,1400000US21229930300,21229930300,"Census Tract 9303, Washington County, Kentucky",2245.0
1088,1400000US21231920100,21231920100,"Census Tract 9201, Wayne County, Kentucky",4666.0
1089,1400000US21231920200,21231920200,"Census Tract 9202, Wayne County, Kentucky",6121.0
1090,1400000US21231920300,21231920300,"Census Tract 9203, Wayne County, Kentucky",4063.0
1091,1400000US21231920400,21231920400,"Census Tract 9204, Wayne County, Kentucky",3309.0
1092,1400000US21231920700,21231920700,"Census Tract 9207, Wayne County, Kentucky",2654.0
1093,1400000US21233960100,21233960100,"Census Tract 9601, Webster County, Kentucky",4584.0
1094,1400000US21233960200,21233960200,"Census Tract 9602, Webster County, Kentucky",2606.0
1095,1400000US21233960300,21233960300,"Census Tract 9603, Webster County, Kentucky",2435.0
1096,1400000US21233960400,21233960400,"Census Tract 9604, Webster County, Kentucky",3996.0
1097,1400000US21235920100,21235920100,"Census Tract 9201, Whitley County, Kentucky",2692.0
1098,1400000US21235920200,21235920200,"Census Tract 9202, Whitley County, Kentucky",2808.0
1099,1400000US21235920300,21235920300,"Census Tract 9203, Whitley County, Kentucky",6189.0
1100,1400000US21235920400,21235920400,"Census Tract 9204, Whitley County, Kentucky",5899.0
1101,1400000US21235920500,21235920500,"Census Tract 9205, Whitley County, Kentucky",6110.0
1102,1400000US21235920600,21235920600,"Census Tract 9206, Whitley County, Kentucky",5230.0
1103,1400000US21235920700,21235920700,"Census Tract 9207, Whitley County, Kentucky",4730.0
1104,1400000US21235920800,21235920800,"Census Tract 9208, Whitley County, Kentucky",1979.0
1105,1400000US21237930100,21237930100,"Census Tract 9301, Wolfe County, Kentucky",3273.0
1106,1400000US21237930200,21237930200,"Census Tract 9302, Wolfe County, Kentucky",4082.0
1107,1400000US21239050103,21239050103,"Census Tract 501.03, Woodford County, Kentucky",3144.0
1108,1400000US21239050104,21239050104,"Census Tract 501.04, Woodford County, Kentucky",3927.0
1109,1400000US21239050105,21239050105,"Census Tract 501.05, Woodford County, Kentucky",3139.0
1110,1400000US21239050106,21239050106,"Census Tract 501.06, Woodford County, Kentucky",3261.0
1111,1400000US21239050107,21239050107,"Census Tract 501.07, Woodford County, Kentucky",3757.0
1112,1400000US21239050200,21239050200,"Census Tract 502, Woodford County, Kentucky",3533.0
1113,1400000US21239050300,21239050300,"Census Tract 503, Woodford County, Kentucky",1899.0
1114,1400000US21239050400,21239050400,"Census Tract 504, Woodford County, Kentucky",2279.0

A second way to index is using loc, which uses the labels of the index. Note that this approach includes the second value in the index range, whereas iloc does not.

In [5]:
df.loc[:5]

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261
5,1400000US21001970500,21001970500,"Census Tract 9705, Adair County, Kentucky",2457

Note that indexing can work for both rows and colums

In [44]:
df.loc[:5, : 'Geography']

,Id,Id2,Geography
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky"
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky"
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky"
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky"
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky"
5,1400000US21001970500,21001970500,"Census Tract 9705, Adair County, Kentucky"

In [7]:
df.iloc[:5, :3]

,Id,Id2,Geography
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky"
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky"
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky"
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky"
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky"

In [20]:
df=df.drop(3)
df

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261
5,1400000US21001970500,21001970500,"Census Tract 9705, Adair County, Kentucky",2457
6,1400000US21001970600,21001970600,"Census Tract 9706, Adair County, Kentucky",1403
7,1400000US21003920100,21003920100,"Census Tract 9201, Allen County, Kentucky",3185
8,1400000US21003920200,21003920200,"Census Tract 9202, Allen County, Kentucky",2703
9,1400000US21003920300,21003920300,"Census Tract 9203, Allen County, Kentucky",4685
10,1400000US21003920400,21003920400,"Census Tract 9204, Allen County, Kentucky",4492
11,1400000US21003920500,21003920500,"Census Tract 9205, Allen County, Kentucky",1600
12,1400000US21003920600,21003920600,"Census Tract 9206, Allen County, Kentucky",3291
13,1400000US21005950100,21005950100,"Census Tract 9501, Anderson County, Kentucky",8164
14,1400000US21005950201,21005950201,"Census Tract 9502.01, Anderson County, Kentucky",5372
15,1400000US21005950202,21005950202,"Census Tract 9502.02, Anderson County, Kentucky",3651
16,1400000US21005950300,21005950300,"Census Tract 9503, Anderson County, Kentucky",1969
17,1400000US21005950400,21005950400,"Census Tract 9504, Anderson County, Kentucky",2265
18,1400000US21007950100,21007950100,"Census Tract 9501, Ballard County, Kentucky",4259
19,1400000US21007950200,21007950200,"Census Tract 9502, Ballard County, Kentucky",1494
20,1400000US21007950300,21007950300,"Census Tract 9503, Ballard County, Kentucky",2496
21,1400000US21009950100,21009950100,"Census Tract 9501, Barren County, Kentucky",3592
22,1400000US21009950200,21009950200,"Census Tract 9502, Barren County, Kentucky",3642
23,1400000US21009950300,21009950300,"Census Tract 9503, Barren County, Kentucky",3065
24,1400000US21009950400,21009950400,"Census Tract 9504, Barren County, Kentucky",5910
25,1400000US21009950500,21009950500,"Census Tract 9505, Barren County, Kentucky",3698
26,1400000US21009950600,21009950600,"Census Tract 9506, Barren County, Kentucky",5937
27,1400000US21009950700,21009950700,"Census Tract 9507, Barren County, Kentucky",5878
28,1400000US21009950800,21009950800,"Census Tract 9508, Barren County, Kentucky",3337
29,1400000US21009950900,21009950900,"Census Tract 9509, Barren County, Kentucky",3607
30,1400000US21009951000,21009951000,"Census Tract 9510, Barren County, Kentucky",3507
...,...,...,...,...
1085,1400000US21229930100,21229930100,"Census Tract 9301, Washington County, Kentucky",2767
1086,1400000US21229930200,21229930200,"Census Tract 9302, Washington County, Kentucky",6705
1087,1400000US21229930300,21229930300,"Census Tract 9303, Washington County, Kentucky",2245
1088,1400000US21231920100,21231920100,"Census Tract 9201, Wayne County, Kentucky",4666
1089,1400000US21231920200,21231920200,"Census Tract 9202, Wayne County, Kentucky",6121
1090,1400000US21231920300,21231920300,"Census Tract 9203, Wayne County, Kentucky",4063
1091,1400000US21231920400,21231920400,"Census Tract 9204, Wayne County, Kentucky",3309
1092,1400000US21231920700,21231920700,"Census Tract 9207, Wayne County, Kentucky",2654
1093,1400000US21233960100,21233960100,"Census Tract 9601, Webster County, Kentucky",4584
1094,1400000US21233960200,21233960200,"Census Tract 9602, Webster County, Kentucky",2606
1095,1400000US21233960300,21233960300,"Census Tract 9603, Webster County, Kentucky",2435
1096,1400000US21233960400,21233960400,"Census Tract 9604, Webster County, Kentucky",3996
1097,1400000US21235920100,21235920100,"Census Tract 9201, Whitley County, Kentucky",2692
1098,1400000US21235920200,21235920200,"Census Tract 9202, Whitley County, Kentucky",2808
1099,1400000US21235920300,21235920300,"Census Tract 9203, Whitley County, Kentucky",6189
1100,1400000US21235920400,21235920400,"Census Tract 9204, Whitley County, Kentucky",5899
1101,1400000US21235920500,21235920500,"Census Tract 9205, Whitley County, Kentucky",6110
1102,1400000US21235920600,21235920600,"Census Tract 9206, Whitley County, Kentucky",5230
1103,1400000US21235920700,21235920700,"Census Tract 9207, Whitley County, Kentucky",4730
1104,1400000US21235920800,21235920800,"Census Tract 9208, Whitley County, Kentucky",1979
1105,1400000US21237930100,21237930100,"Census Tract 9301, Wolfe County, Kentucky",3273
1106,1400000US21237930200,21237930200,"Census Tract 9302, Wolfe County, Kentucky",4082
1107,1400000US21239050103,21239050103,"Census Tract 501.03, Woodford County, Kentucky",3144
1108,1400000US21239050104,21239050104,"Census Tract 501.04, Woodford County, Kentucky",3927
1109,1400000US21239050105,21239050105,"Census Tract 501.05, Woodford County, Kentucky",3139
1110,1400000US21239050106,21239050106,"Census Tract 501.06, Woodford County, Kentucky",3261
1111,1400000US21239050107,21239050107,"Census Tract 501.07, Woodford County, Kentucky",3757
1112,1400000US21239050200,21239050200,"Census Tract 502, Woodford County, Kentucky",3533
1113,1400000US21239050300,21239050300,"Census Tract 503, Woodford County, Kentucky",1899
1114,1400000US21239050400,21239050400,"Census Tract 504, Woodford County, Kentucky",2279

We can select rows based on their value as well.  Notice that we nest df[df[condition]] to get this result.

In [22]:
df.iloc[3]

Id                                    1400000US21001970402
Id2                                            21001970402
Geography     Census Tract 9704.02, Adair County, Kentucky
Population                                            4261
Name: 4, dtype: object

In [25]:
df.iloc[4]

Id                                 1400000US21001970500
Id2                                         21001970500
Geography     Census Tract 9705, Adair County, Kentucky
Population                                         2457
Name: 5, dtype: object

In [29]:
df2=df.drop(3)
df2

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261
5,1400000US21001970500,21001970500,"Census Tract 9705, Adair County, Kentucky",2457
6,1400000US21001970600,21001970600,"Census Tract 9706, Adair County, Kentucky",1403
7,1400000US21003920100,21003920100,"Census Tract 9201, Allen County, Kentucky",3185
8,1400000US21003920200,21003920200,"Census Tract 9202, Allen County, Kentucky",2703
9,1400000US21003920300,21003920300,"Census Tract 9203, Allen County, Kentucky",4685
10,1400000US21003920400,21003920400,"Census Tract 9204, Allen County, Kentucky",4492
11,1400000US21003920500,21003920500,"Census Tract 9205, Allen County, Kentucky",1600
12,1400000US21003920600,21003920600,"Census Tract 9206, Allen County, Kentucky",3291
13,1400000US21005950100,21005950100,"Census Tract 9501, Anderson County, Kentucky",8164
14,1400000US21005950201,21005950201,"Census Tract 9502.01, Anderson County, Kentucky",5372
15,1400000US21005950202,21005950202,"Census Tract 9502.02, Anderson County, Kentucky",3651
16,1400000US21005950300,21005950300,"Census Tract 9503, Anderson County, Kentucky",1969
17,1400000US21005950400,21005950400,"Census Tract 9504, Anderson County, Kentucky",2265
18,1400000US21007950100,21007950100,"Census Tract 9501, Ballard County, Kentucky",4259
19,1400000US21007950200,21007950200,"Census Tract 9502, Ballard County, Kentucky",1494
20,1400000US21007950300,21007950300,"Census Tract 9503, Ballard County, Kentucky",2496
21,1400000US21009950100,21009950100,"Census Tract 9501, Barren County, Kentucky",3592
22,1400000US21009950200,21009950200,"Census Tract 9502, Barren County, Kentucky",3642
23,1400000US21009950300,21009950300,"Census Tract 9503, Barren County, Kentucky",3065
24,1400000US21009950400,21009950400,"Census Tract 9504, Barren County, Kentucky",5910
25,1400000US21009950500,21009950500,"Census Tract 9505, Barren County, Kentucky",3698
26,1400000US21009950600,21009950600,"Census Tract 9506, Barren County, Kentucky",5937
27,1400000US21009950700,21009950700,"Census Tract 9507, Barren County, Kentucky",5878
28,1400000US21009950800,21009950800,"Census Tract 9508, Barren County, Kentucky",3337
29,1400000US21009950900,21009950900,"Census Tract 9509, Barren County, Kentucky",3607
30,1400000US21009951000,21009951000,"Census Tract 9510, Barren County, Kentucky",3507
...,...,...,...,...
1085,1400000US21229930100,21229930100,"Census Tract 9301, Washington County, Kentucky",2767
1086,1400000US21229930200,21229930200,"Census Tract 9302, Washington County, Kentucky",6705
1087,1400000US21229930300,21229930300,"Census Tract 9303, Washington County, Kentucky",2245
1088,1400000US21231920100,21231920100,"Census Tract 9201, Wayne County, Kentucky",4666
1089,1400000US21231920200,21231920200,"Census Tract 9202, Wayne County, Kentucky",6121
1090,1400000US21231920300,21231920300,"Census Tract 9203, Wayne County, Kentucky",4063
1091,1400000US21231920400,21231920400,"Census Tract 9204, Wayne County, Kentucky",3309
1092,1400000US21231920700,21231920700,"Census Tract 9207, Wayne County, Kentucky",2654
1093,1400000US21233960100,21233960100,"Census Tract 9601, Webster County, Kentucky",4584
1094,1400000US21233960200,21233960200,"Census Tract 9602, Webster County, Kentucky",2606
1095,1400000US21233960300,21233960300,"Census Tract 9603, Webster County, Kentucky",2435
1096,1400000US21233960400,21233960400,"Census Tract 9604, Webster County, Kentucky",3996
1097,1400000US21235920100,21235920100,"Census Tract 9201, Whitley County, Kentucky",2692
1098,1400000US21235920200,21235920200,"Census Tract 9202, Whitley County, Kentucky",2808
1099,1400000US21235920300,21235920300,"Census Tract 9203, Whitley County, Kentucky",6189
1100,1400000US21235920400,21235920400,"Census Tract 9204, Whitley County, Kentucky",5899
1101,1400000US21235920500,21235920500,"Census Tract 9205, Whitley County, Kentucky",6110
1102,1400000US21235920600,21235920600,"Census Tract 9206, Whitley County, Kentucky",5230
1103,1400000US21235920700,21235920700,"Census Tract 9207, Whitley County, Kentucky",4730
1104,1400000US21235920800,21235920800,"Census Tract 9208, Whitley County, Kentucky",1979
1105,1400000US21237930100,21237930100,"Census Tract 9301, Wolfe County, Kentucky",3273
1106,1400000US21237930200,21237930200,"Census Tract 9302, Wolfe County, Kentucky",4082
1107,1400000US21239050103,21239050103,"Census Tract 501.03, Woodford County, Kentucky",3144
1108,1400000US21239050104,21239050104,"Census Tract 501.04, Woodford County, Kentucky",3927
1109,1400000US21239050105,21239050105,"Census Tract 501.05, Woodford County, Kentucky",3139
1110,1400000US21239050106,21239050106,"Census Tract 501.06, Woodford County, Kentucky",3261
1111,1400000US21239050107,21239050107,"Census Tract 501.07, Woodford County, Kentucky",3757
1112,1400000US21239050200,21239050200,"Census Tract 502, Woodford County, Kentucky",3533
1113,1400000US21239050300,21239050300,"Census Tract 503, Woodford County, Kentucky",1899
1114,1400000US21239050400,21239050400,"Census Tract 504, Woodford County, Kentucky",2279

In [32]:
df2.iloc[3]

Id                                    1400000US21001970402
Id2                                            21001970402
Geography     Census Tract 9704.02, Adair County, Kentucky
Population                                            4261
Name: 4, dtype: object

In [8]:
df[df['Population'] < 200]

,Id,Id2,Geography,Population
64,1400000US21015980100,21015980100,"Census Tract 9801, Boone County, Kentucky",0
124,1400000US21029980100,21029980100,"Census Tract 9801, Bullitt County, Kentucky",0
203,1400000US21047980100,21047980100,"Census Tract 9801, Christian County, Kentucky",0
255,1400000US21061980100,21061980100,"Census Tract 9801, Edmonson County, Kentucky",8
678,1400000US21111980100,21111980100,"Census Tract 9801, Jefferson County, Kentucky",0
803,1400000US21143980100,21143980100,"Census Tract 9801, Lyon County, Kentucky",0
878,1400000US21163980100,21163980100,"Census Tract 9801, Meade County, Kentucky",9
1053,1400000US21221980100,21221980100,"Census Tract 9801, Trigg County, Kentucky",18
1054,1400000US21221980200,21221980200,"Census Tract 9802, Trigg County, Kentucky",6

In [9]:
df[df['Id2']==21015980100]

,Id,Id2,Geography,Population
64,1400000US21015980100,21015980100,"Census Tract 9801, Boone County, Kentucky",0

Here we show how to set a value of a cell in the table, identifying a specific row by index label, and setting its population, in this case to a None value, which Pandas interprets as a NaN (missing value).

In [10]:
df.loc[688,'Population'] = None

We can filter for values that are Null

In [11]:
df[df['Population'].isnull()]

,Id,Id2,Geography,Population
688,1400000US21115960100,21115960100,"Census Tract 9601, Johnson County, Kentucky",NaN

Or more commonly, filter out the null values.

In [ ]:
df[df['Population'].notnull()]

Here we find and print records that are in Fayette County, using the str attribute and 'contains' to search for the county name in geodisplay.

In [ ]:
df[df['Geography'].str.contains('Fayette County')]

We can find the unique values of a column (not very interesting in this particular case)

We saw last time how to use the str attribute to do string manipulation, such as to create a new column.  We need to explore some more advanced string processing, but let's use a smaller dataframe for that.

In [ ]:
df['state'] = df['Geography'].str.split(',').str[2]
df[:5]

In [ ]:
df['county'] = df['Geography'].str.split(',').str[1]
df[:5]

In [ ]:
df['county'].unique()

And count how many times each unique value is in the data

In [ ]:
df['county'].value_counts()

### More complex use of Indexing and String Manipulation -- Cleaning the Bedroom Field in the Craigslist data

In [71]:
import re as re, pandas as pd, numpy as np
cl = pd.read_csv('items.csv')
cl.head()

,neighborhood,title,price,bedrooms,pid,longitude,date,link,latitude,sqft,sourcepage
0,(SOMA / south beach),"1bed + Den, 1bath at Mission Bay",$2895,/ 1br - 950ftÂ² -,4046628359,-122.399663,Sep 4 2013,/sfc/apa/4046628359.html,37.774623,/ 1br - 950ftÂ² -,http://sfbay.craigslist.org/sfc/apa/
1,(SOMA / south beach),Love where you live!,$3354,/ 1br - 710ftÂ² -,4046761563,NaN,Sep 4 2013,/sfc/apa/4046761563.html,NaN,/ 1br - 710ftÂ² -,http://sfbay.craigslist.org/sfc/apa/
2,(inner sunset / UCSF),We Welcome Your Furry Friends! Call Today!,$2865,/ 1br - 644ftÂ² -,4046661504,-122.470727,Sep 4 2013,/sfc/apa/4046661504.html,37.765739,/ 1br - 644ftÂ² -,http://sfbay.craigslist.org/sfc/apa/
3,(financial district),Golden Gateway Commons | 2BR + office townhous...,$5500,/ 2br - 1450ftÂ² -,4036170429,NaN,Sep 4 2013,/sfc/apa/4036170429.html,NaN,/ 2br - 1450ftÂ² -,http://sfbay.craigslist.org/sfc/apa/
4,(lower nob hill),Experience Luxury Living in San Fransisco!,$3892,/ 2br -,4046732678,NaN,Sep 4 2013,/sfc/apa/4046732678.html,NaN,/ 2br -,http://sfbay.craigslist.org/sfc/apa/

This is a worked part of your assignment for this week.  Here is a code snippet that uses some of what we just learned above, and extends it to clean the bedroom field in this data.  Adapting it to clean sqft remains for you to do in the assignment...

Below are three different ways to do this.  The first involves looping over the index of the dataframe, and finding the beginning and end of the substring we are looking for, to isolate the bedrooms value.

In [72]:
for label in cl['bedrooms'].index:
    if isinstance(cl['bedrooms'][label], str) and not pd.isnull(cl['bedrooms'][label]):
        end = cl['bedrooms'][label].find('br')
        if end == -1:
            cl.loc[label,'bedrooms'] = np.nan
        else:
            start = cl['bedrooms'][label].find('/ ') + 2
            cl.loc[label,'bedrooms'] = int(cl['bedrooms'][label][start: end])
cl['bedrooms'][:9]

0      1
1      1
2      1
3      2
4      2
5      1
6    NaN
7      1
8      2
Name: bedrooms, dtype: object

Here is a second way to do this that is much more elegant, and in some ways much simpler since it does not require looping over the index values.  It uses the Series map method to apply an element-wise function.  This is covered briefly on page 133 of Pandas for Data Analysis, and more exensively in online documentation.

In [73]:
cl = pd.read_csv('items.csv')
def clean_br(value):
    if isinstance(value, str):
        end = value.find('br')
        if end == -1:
            return None
        else:
            start = value.find('/') + 2
            return int(value[start:end])
cl['bedrooms'] = cl['bedrooms'].map(clean_br)
cl['bedrooms'][:9]

0    1.0
1    1.0
2    1.0
3    2.0
4    2.0
5    1.0
6    NaN
7    1.0
8    2.0
Name: bedrooms, dtype: float64

The third way to do this is using Regular Expressions (regex).  It is covered on pages 207-210.  It is powerful and concise, but the syntax is more cryptic.

In [66]:
cl = pd.read_csv('items.csv')
for i in cl['bedrooms'].index:
    r = re.search('(?<=\/ )(.*)(?=br)', cl.loc[i,'bedrooms'])
    cl.loc[i,'bedrooms'] = r.group(0) if r else np.nan

cl['bedrooms'][:9]

0      1
1      1
2      1
3      2
4      2
5      1
6    NaN
7      1
8      2
Name: bedrooms, dtype: object

## Working with Pandas -- an in-class working session

OK, let's create a DataFrame from a dictionary, following the example on pg 116 of Python for Data Analysis (PDA).

In [85]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(data)

Explain the contents and structure of 'data'

What does 'DataFrame(data)' do? What if we did not begin that line with 'df ='?

Look at the contents of df, using just df by itself, and 'print df'.

In [75]:
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

We can refer to a column in two ways:

In [76]:
df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [ ]:
df.state

We can step through the rows in a dataframe

In [78]:
for label in df.state.index:
    print(df.state[label])

Ohio
Ohio
Ohio
Nevada
Nevada

And find the index value within each entry of a specific substring

In [79]:
for label in df.state.index:
    print(df.state[label].find('io'))

2
2
2
-1
-1

In [80]:
for label in df.state.index:
    if df.state[label]=='Ohio':
        print(df.state[label])
    else:
        print('Missing')

Ohio
Ohio
Ohio
Missing
Missing

In [81]:
for label in df.state.index:
    if df.state[label]=='Ohio':
        print(df.state[label])
    else:
        break

Ohio
Ohio
Ohio

## Now Your Turn

Below are a series of questions, with the answers remaining for you to fill in by using pandas expressions that draw on the methods in Chapter 5.  You should not need to use anything more than the content of this chapter -- a subset of the methods summarized above, to do this exercise.  Hopefully you can complete it within class if you've been keeping up with the reading.

How can we get a quick statistical profile of all the numeric columns?

In [82]:
df.describe()

            pop        year
count  5.000000     5.00000
mean   2.420000  2001.20000
std    0.864292     0.83666
min    1.500000  2000.00000
25%    1.700000  2001.00000
50%    2.400000  2001.00000
75%    2.900000  2002.00000
max    3.600000  2002.00000

Can you get a profile of a column that is not numeric, like state? Try it.

In [88]:
df['state'].describe()

count        5
unique       2
top       Ohio
freq         3
Name: state, dtype: object

How can we print the data types of each column?

In [89]:
df.dtypes

pop      float64
state     object
year       int64
dtype: object

How can we print just the column containing state names?

In [90]:
df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

How can we get a list of the states in the DataFrame, without duplicates?

In [93]:
df['state'].drop_duplicates()

0      Ohio
3    Nevada
Name: state, dtype: object

How can we get a count of how many rows we have in each state?

In [94]:
df.shape

(5, 3)

How can we compute the mean of population across all the rows?

In [95]:
df['pop'].mean()

2.4200000000000004

How can we compute the maximum population across all the rows?

In [96]:
df['pop'].max()

3.6000000000000001

How can we compute the 20th percentile value of population?

In [99]:
df['pop'].quantile(.2)

1.6600000000000001

In [101]:
df['pop'][:5]*.2

0    0.30
1    0.34
2    0.72
3    0.48
4    0.58
Name: pop, dtype: float64

How can we compute a Boolean array indicating whether the state is 'Ohio'?

In [112]:
df['state']=='Ohio'

0     True
1     True
2     True
3    False
4    False
Name: state, dtype: bool

How can we select and print just the rows for Ohio?

In [111]:
print(df.loc[df['state']=='Ohio'])

   pop state  year
0  1.5  Ohio  2000
1  1.7  Ohio  2001
2  3.6  Ohio  2002

How can we create a new DataFrame containing only the Ohio records?

In [115]:
df.loc[df['state']=='Ohio']

   pop state  year
0  1.5  Ohio  2000
1  1.7  Ohio  2001
2  3.6  Ohio  2002

How can we select and print just the rows in which population is more than 2?

In [116]:
print(df.loc[df['pop']>2])

   pop   state  year
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

How could we compute the mean of population that is in Ohio, averaging across years?

In [123]:
df[df['state']=='Ohio'].mean()

pop        2.266667
year    2001.000000
dtype: float64

How can we print the DataFrame, sorted by State and within State, by Population?

In [126]:
df.sort(['state','pop'])

/Users/zhengjing/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

   pop   state  year
3  2.4  Nevada  2001
4  2.9  Nevada  2002
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002

How can we print the row for Ohio, 2002, selecting on its values (not on row and column indexes)?

In [129]:
print(df.loc[df['state']=='Ohio'].loc[df['year']==2002])

   pop state  year
2  3.6  Ohio  2002

How can we use row and column indexing to set the population of Ohio in 2002 to 3.4?

In [157]:
data={'state':['Ohio'],'year':[2002],'pop':[3.4]}
df=DataFrame(data)
df

   pop state  year
0  3.4  Ohio  2002

How can we use row and column indexing to append a new record for Utah, initially with no population or year?

In [178]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(data)

In [183]:
df.loc[5]=('0','Utah','0')
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002
5    0    Utah     0

How can we set the population to 2.5 and year to 2001 for the new record?

In [153]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(data)

In [156]:
df.loc[5]=['2.5','Utah','2001']
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002
5  2.5    Utah  2001